[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
csvkit = "*"
numpy = "*"
pandas = "*"
pyfiglet = "*"
Pillow = "*"
requests = "*"
sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
Flask = "*"
Flask-Cors = "*"
Flask-RESTful = "*"
Flask-Uploads = "*"
Flask-SQLAlchemy = "*"
Flask-JWT-Extended = "*"
opencv-contrib-python = "*"

[requires]
python_version = "3.8"
