python-dotenv
csvkit
numpy
scipy
pandas
pillow
pyfiglet
sqlalchemy
marshmallow
opencv-contrib-python
dlib
face-recognition
flask
requests
flask-cors
flask-restful
flask-uploads
flask-sqlalchemy
flask-marshmallow
flask-jwt-extended
marshmallow-sqlalchemy