python-decouple
psycopg2
pip
bcrypt
csvkit
numpy
scipy
opencv-contrib-python
imutils
dlib
face-recognition
pandas
pillow
pyfiglet
flask
requests
flask-cors
flask-restful
flask-uploads
flask-jwt-extended
sqlalchemy
marshmallow
marshmallow-sqlalchemy
