csvkit
numpy
opencv-contrib-python
pandas
pillow
pyfiglet
flask
requests
flask-cors
flask-restful
flask-uploads
flask-sqlalchemy
flask-jwt-extended
flask-marshmallow
marshmallow
marshmallow-sqlalchemy
python-dotenv