<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Login</h3>
          </div>
          <div class="card-body">
            <!--error alert-->
            <ngb-alert *ngIf="errorMsg" [type]="'danger'" (close)="errorMsg=''">{{ errorMsg }}</ngb-alert>
            <!--/error alert-->
            <form class="form" [formGroup]="loginForm" (ngSubmit)="loginUser()" novalidate>
              <!--username-->
              <div class="form-group">
                <label for="">Username</label>
                <input type="text" formControlName="username"
                [class.is-invalid]="username.invalid && username.touched" 
                class="form-control rounded-0">
                <small class="text-danger" [class.d-none]="username.valid || username.untouched">Username is required</small>
              </div>
              <!--/username-->
              <!--password-->
              <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password"
                [class.is-invalid]="password.invalid && password.touched"
                class="form-control rounded-0">
                <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
              </div>
              <!--/password-->
              <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success float-right">Login</button>
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
      </div>
    </div>
</div>