<div class="mt-3">
  <ngb-alert *ngIf="addResponseMsg" type="success" (close)="addResponseMsg=''">{{ addResponseMsg }}</ngb-alert>
  <ngb-alert *ngIf="delResponseMsg" [type]="'info'" (close)="delResponseMsg=''">{{ delResponseMsg }}</ngb-alert>
</div>
<button type="button" class="btn btn-outline-primary" (click)="formIsCollapsed = !formIsCollapsed"
[attr.aria-expanded]="!formIsCollapsed" aria-controls="videoFeedFormCollapse">
  {{formIsCollapsed==true?"Add Video Feed":"Hide"}}
</button>
<div id="videoFeedFormCollapse" [ngbCollapse]="formIsCollapsed">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-body">
          <form class="form" [formGroup]="videoFeedForm" (ngSubmit)="addVideoFeed()" novalidate>
            <!--id-->
            <div class="form-group">
              <label for="">Classroom ID</label>
              <input type="text" formControlName="id" class="form-control rounded-0">
            </div>
            <!--/id-->
            <!--url-->
            <div class="form-group">
              <label for="">Video Feed URL</label>
              <input type="text" formControlName="url" class="form-control rounded-0">
            </div>
            <!--/url-->
            <div class="text-center">
              <button [disabled]="!videoFeedForm.valid" type="submit" class="btn btn-success">Add</button>
            </div>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->
    </div>
  </div>
</div>

<table class="table table-striped mt-4">
  <thead>
    <tr>
        <th scope="col">Classroom ID</th>
        <th scope="col">Status</th>
        <th>Controls</th>
        <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let feed of feeds; index as i">
      <th scope="row">{{ feed.id }}</th>
      <td>
        <div *ngIf="!feed.is_active">Inactive</div>
        <div *ngIf="feed.is_active" style="color:red">
          <fa-icon [icon]="circleIcon" size="xs"></fa-icon>&nbsp;
          <a class="nav-link" style="padding:0rem;display:inline" [routerLink]="generatePreviewUrl(feed.id)">Live</a>
        </div>
      </td>
      <td>
        <button *ngIf="!feed.is_active" class="btn btn-success" (click)="toggleVideoFeed(feed.id);">
          <fa-icon [icon]="playIcon"></fa-icon> Start
        </button>
        <button *ngIf="feed.is_active" class="btn btn-danger" (click)="toggleVideoFeed(feed.id);">
          <fa-icon [icon]="stopIcon"></fa-icon> Stop
        </button>
      </td>
      <td>
        <button (click)="deleteVideoFeed(feed.id, i)" class="btn btn-danger">
          <fa-icon [icon]="trashIcon"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>