<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Register</h3>
          </div>
          <div class="card-body">
            <!--response & error alerts-->
            <ngb-alert *ngIf="responseMsg" [type]="'success'" (close)="responseMsg=''">{{ responseMsg }}</ngb-alert>
            <ngb-alert *ngIf="errorMsg" [type]="'danger'" (close)="errorMsg=''">{{ errorMsg }}</ngb-alert>
            <!--/response & error alerts-->
            <form class="form" [formGroup]="registrationForm" (ngSubmit)="registerUser()" novalidate>
              <!--username-->
              <div class="form-group">
                <label for="">Username</label>
                <input type="text" formControlName="username"
                [class.is-invalid]="username.invalid && username.touched" 
                class="form-control rounded-0">
                <div *ngIf="username.invalid && username.touched"> 
                  <small *ngIf="username.errors?.required" class="text-danger">Username is required</small>
                  <small *ngIf="username.errors?.minlength" class="text-danger">Username must be at least 4 characters</small>
                </div>
              </div>
              <!--/username-->
              <!--password-->
              <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" 
                [class.is-invalid]="password.invalid && password.touched"
                class="form-control rounded-0">
                <div *ngIf="password.errors && (password.invalid && password.touched)">
                  <small *ngIf="password.errors?.required" class="text-danger">Password is required</small>
                  <small *ngIf="password.errors?.pattern" class="text-danger">Password must be minimum 8 characters, at least one letter & one number</small>
                </div>
              </div>
              <!--/password-->
              <button [disabled]="!registrationForm.valid" type="submit" class="btn btn-primary float-right">Register</button>
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
      </div>
    </div>
</div>